@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-SemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8C8492;
}

canvas {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

button {
    display: none;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 130px;
    height: 40px;
    border-radius: 20px;
    border: 0.1rem solid #C7BCCE;
    font-size: 1.2rem;
    color: #FCF7FF;
    background-color: #8C8492;
    font-family: "Nunito", sans-serif;
}

#save-image {
    border: none;
    color: #583554;
    background-color: #F6E9FF;
}

button:hover, #save-image:hover {
    color: #F6E9FF;
    background-color: #583554;
}