@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-SemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #322932;
}

canvas {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button {
    display: none;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    font-size: 1.2rem;
    color: #322932;
    background-color: #CEBDBD;
    font-family: "Nunito", sans-serif;
}

button:hover {
    color: #CEBDBD;
    background-color: #4B414B;
}