@font-face {
    font-family: "Nunito";
    src: url("./fonts/Nunito-SemiBold.ttf");
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #839EA1;
}

canvas {
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

button {
    display: none;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 145px;
    height: 40px;
    border-radius: 20px;
    border: 0.1rem solid #F2FDFF;
    font-size: 1.2rem;
    color: #F2FDFF;
    background-color: #839EA1;
    font-family: "Nunito", sans-serif;
}

#save-image {
    color: #2B8D9A;
    background-color: #F2FDFF;
}

button:hover, #save-image:hover {
    color: #F2FDFF;
    background-color: #2B8D9A;
}